[submodule "third_party/zstd"]
    ignore = dirty
    path = third_party/zstd
    url = https://github.com/facebook/zstd.git
[submodule "third_party/cpuinfo"]
    ignore = dirty
    path = third_party/cpuinfo
    url = https://github.com/pytorch/cpuinfo.git
[submodule "third_party/sleef"]
    ignore = dirty
    path = third_party/sleef
    url = https://github.com/shibatch/sleef
[submodule "third_party/gemmlowp/gemmlowp"]
    ignore = dirty
    path = third_party/gemmlowp/gemmlowp
    url = https://github.com/google/gemmlowp.git
[submodule "third_party/fbgemm"]
    ignore = dirty
    path = third_party/fbgemm
    url = https://github.com/pytorch/fbgemm
[submodule "third_party/foxi"]
    ignore = dirty
    path = third_party/foxi
    url = https://github.com/houseroad/foxi.git
[submodule "third_party/tbb"]
    path = third_party/tbb
    url = https://github.com/01org/tbb
    branch = tbb_2018
[submodule "android/libs/fbjni"]
    ignore = dirty
    path = android/libs/fbjni
    url = https://github.com/facebookincubator/fbjni.git
[submodule "third_party/fmt"]
    ignore = dirty
    path = third_party/fmt
    url = https://github.com/fmtlib/fmt.git
[submodule "third_party/pocketfft"]
	path = third_party/pocketfft
	url = https://github.com/mreineck/pocketfft
[submodule "third_party/ittapi"]
	path = third_party/ittapi
	url = https://github.com/intel/ittapi.git
[submodule "third_party/flatbuffers"]
	path = third_party/flatbuffers
	url = https://github.com/google/flatbuffers.git
[submodule "third_party/nlohmann"]
	path = third_party/nlohmann
	url = https://github.com/nlohmann/json.git
